{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'post/css/styles.css' %}"/>
{% endblock %}
{% block content %}
{% if user.is_authenticated %}
    {% for post in posts %}
    <div id="fposts">
        <span id="dpost">{{ post.post_date }}</span><br>
        <span id="ptitle">{{ post.post_title }}</span><br>
        <img src="{{ post.post_content.url }}" height="300"/>
        Posted By: <span id="fbuser">{{ post.post_user }}</span><br>
        {% comment %} Description: <span id="desc">{{ post.post_title }}</span><br> {% endcomment %}
        Description: <span id="dpost">{{ post.post_description }}</span><span id="rbtn"><a href="{% url 'post:detpost' id=post.id %}">Read More</a></span>
    </div><br>
    {% endfor %}
    <div style="border: 1px solid blue; width: 10%;background: blue;color: white;font-size: 30px;position: absolute;left: 80%;top: 5%;text-align:center;">
        {{ user.username }}
        <form action="{% url 'user:logout' %}" method="post">                        
            {% csrf_token %}
            <button id="lbtn" type="submit">Log Out</button>
        </form>
    </div>
{% else%}
    <div style="background:red; color: white; text-align: center;"><h1>You are not Logged In !!!</h1></div>
    <a href="{% url 'user:login-page' %}">Login</a>
{% endif %}
{% endblock %}